
 <html>
  <link id="favicon" rel="shortcut icon" href="../static/admin/img/fav.png" type="image/png"/>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
        <link href = "../static/admin/css/style.css" rel = "stylesheet">
        
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand" href="/">
              <img class = "logobar" src="../static/admin/img/logo.png" alt="">
            </a>
            <a class = "navbar-brand" href = "https://github.com/LakshitXD/Rock_paper_scissors_cnb2.0"><img class = "logobar1" src ="../static/admin/img/pngfind.com-github-logo-png-1766942 (1).png"></a>
          </nav>
          <div class = "content">
              <img class = "plwithtrump" src = "../static/admin/img/trump.png">
              
              <br>
              <br>
                <img id = "yeye" src = ""><br><br>
            <div class ="allo">{{result}}</div>
          <div class = "subcontent">
            <p>Your choice:
              <img class = "players" width="30%" height="auto"></p>
              &nbsp;&nbsp;
               <p> Trump Chose:
              <img class = "trumps" width="30%" height="auto"></p>
              <br>
              
              
              <!-- <button class = "Gobtn" onclick = "" id = "okbtn">GO</button></div> -->
          </div>
          <br>
          <a id = "plagain" href="/">Play again</a>
          <div class ="footer"></div>
         
          <script type ="text/javascript">
          var res = document.getElementsByClassName("allo")[0].innerHTML;
          
           let timeWhenLastUpdate;
       let timeFromLastUpdate;
       let frameNumber = 1;
       var totalFrames = 78;
        var animationDuration = 4000;
    
      const tagvar = document.getElementById("yeye");
      var idx = Math.floor(Math.random()*5);
          // let player,trump2;

          var arr = ["Rock","Paper","Scissors"];
          var trump=arr[Math.floor(Math.random()*3)];
          /*
          Subtitles:-

          l1: Don't worry Kiddo! not everyone can beat me.
          l2: Ha Ha! I knew that you cant beat me, you NOOB.
          l3: In this game I will always be the paper and you will always be a dumb ROCK!
          l4: You failed again! and that's what she said!
          l5: I don't play with losers again and again.
          w1: Amon all players i always knew you had something in you but next time i'll definitely beat you!
          w2: I knew you always had been the chosen ONE!
          w3: Stranger! you have hands of winner but not face
          w4: Guys we have a winner can we have a round of applause for this CHAMP!
          w5: I can say you are very lucky!!
          */

          var lose = [["l1.mp3",3000," Trump Says:- Don't worry Kiddo! not everyone can beat me."],["l2.mp3",4000,"Trump Says:- Ha Ha! I knew that you can't beat me, you NOOB."],["l3.mp3",4000,"Trump Says:- In this game I will always be the paper and you will always be a dumb ROCK!"],["l4.mp3",2000,"Trump Says:- You failed again! and that's what she said!"],["l5.mp3",2000,"Trump Says:- I don't play with losers again and again."]];
          var win = [["w1.mp3",5000,"Trump Says:- Among all players i always knew you had something in you but next time i'll definitely beat you!"],["w2.mp3",3000,"Trump Says:- I knew you always had been the chosen ONE!"],["w3.mp3",3500,"Trump Says:- Stranger! you have hands of winner but not face"],["w4.mp3",4000,"Trump Says:- Guys we have a winner can we have a round of applause for this CHAMP!"],["w5.mp3",2000,"Trump Says:- I can say you are very lucky!!"]];
          
          console.log(trump);
          console.log(res);
          
          if(trump===res){
            document.getElementsByClassName("allo")[0].innerHTML="<p class = 'result'>Draw</p>";
            let audio1 = new Audio("../static/admin/audio/draw.mp3");
            audio1.play();
            console.log(audio1.duration);
            animationDuration= 5000;
            step(1);
          }
          else if(trump==="Rock" && res ==="Paper"){
            document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Player Wins</p> <p class='subtitles'>${win[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+win[idx][0]);
            audio1.play();
            animationDuration=win[idx][1];
          }
          else if(trump ==="Paper"&& res ==="Rock"){
            document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Trump Wins</p><p class='subtitles'>${lose[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+lose[idx][0]);
            audio1.play();
            animationDuration=lose[idx][1];
            step(1);
          }
          else if(trump ==="Paper"&& res ==="Scissors"){
             document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Player Wins</p><p class='subtitles'>${win[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+win[idx][0]);
            audio1.play();
            animationDuration=win[idx][1];
            step(1);
            }

          else if(trump ==="Scissors"&& res ==="Paper"){
            document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Trump Wins</p><p class='subtitles'>${lose[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+lose[idx][0]);
            audio1.play();
            animationDuration=lose[idx][1];
            step(1);
          }
          else if(trump ==="Scissors"&& res ==="Rock"){
             document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Player Wins</p><p class='subtitles'>${win[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+win[idx][0]);
            audio1.play();
            animationDuration=win[idx][1];
            step(1);
          }
          else if(trump ==="Rock"&& res ==="Scissors"){
           document.getElementsByClassName("allo")[0].innerHTML=`<p class = 'result'>Trump Wins</p><p class='subtitles'>${lose[idx][2]}</p>`;
            let audio1 = new Audio("../static/admin/audio/"+lose[idx][0]);
            audio1.play();
            animationDuration=lose[idx][1];
            step(1);

          }
          document.getElementsByClassName("allo")[0].style.display="block";
          document.getElementsByClassName("trumps")[0].setAttribute('src','../static/admin/img/'+trump+".png");
          document.getElementsByClassName("players")[0].setAttribute('src','../static/admin/img/'+res+".png");
        
       console.log(tagvar);
      //  var totalFrames = 78;
     
      
       function step(startTime) {
         timePerFrame = animationDuration/totalFrames;
  if (!timeWhenLastUpdate) timeWhenLastUpdate = startTime;

  timeFromLastUpdate = startTime - timeWhenLastUpdate;

  if (timeFromLastUpdate > timePerFrame) {
    tagvar.setAttribute("src","../static/admin/img/trump/ezgif-frame-"+pad(frameNumber)+".jpg");
    timeWhenLastUpdate = startTime;

    if (frameNumber >= totalFrames) {
      frameNumber = 1;
      still(1);
      return 1;
    } else {
       frameNumber = frameNumber + 1;
    }        
  }

  requestAnimationFrame(step);
}
function pad(num) {
    if(num<10)
    return "00"+num;
    else
    return "0"+num;
}
function still(startTime){
  timePerFrame = 100;
  if (!timeWhenLastUpdate) timeWhenLastUpdate = startTime;
  
  timeFromLastUpdate = startTime - timeWhenLastUpdate;
  
  if (timeFromLastUpdate > timePerFrame) {
    tagvar.setAttribute("src","../static/admin/img/ezgif-frame-"+pad(frameNumber)+".jpg");
    timeWhenLastUpdate = startTime;

    if (frameNumber >= 10) {
      frameNumber = 1;
    } else {
       frameNumber = frameNumber + 1;
    }        
  }
  requestAnimationFrame(still);


}
          </script>
    </body>
</html>